/*configuraciones globales*/
:root{ 
    --colorppal: #000
    --fuenteppal: 
}

body {
    overflow-x: hidden;/*oculta la barra de desplazamiento horizontal*/
}

/*imagenes para la carta*/
.card-img-top{
    width: 100%;
    height: 300px;
}

#carta .titulo{
    width: 100%;
    text-align: center;

}

#servicios{
    background-color: chocolate;
}

#servicios .tituloser{
    width: 100%;
    text-align: center;
}